<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corso Tornado Conoscerelinux - WebSocket Orologio</title>
    <script>
        var ws = new WebSocket("ws://127.0.0.1:8888/websocket/clock/");
        ws.onopen = function() {
            ws.send('ping');
        };
        ws.onmessage = function (evt) {
            var container = document.getElementById("container");
            container.innerText = evt.data;
            // setTimeout('', 1000);
            ws.send('ping');
        };
    </script>
</head>
<body>
    <div>Orologio</div>
    <div id="container"></div>
</body>
</html>